USE [master]
GO
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'UrlShortener')
BEGIN
CREATE DATABASE [UrlShortener] ON  PRIMARY 
( NAME = N'UrlShortener', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\UrlShortener.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UrlShortener_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\UrlShortener_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
END

GO
EXEC dbo.sp_dbcmptlevel @dbname=N'UrlShortener', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UrlShortener].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [UrlShortener] SET DB_CHAINING OFF 
USE [UrlShortener]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Urls]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Urls](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Url] [varchar](max) NOT NULL,
	[ShortenedURL] [varchar](max) NOT NULL,
	[Token] [varchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Urls] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
